@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}

/* Nav-bar */
ul {
  list-style-type: none;
}

.nav-bar {
  width: 100%;
  margin: auto;

  background-color: #eee;
  position: fixed;
  z-index: 9999;
}
.container-width {
  width: 87%;
  display: flex;
}
.navigation {
  width: 87%;
  background-color: #eee;
  height: 60px;
  margin: auto;
  display: flex;
}
.nav-left {
  width: 35%;
  height: 100%;
  display: flex;
  /* background-color: aquamarine; */
}
.nav-center {
  width: 20%;
  height: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: end;
  /* background-color: chartreuse; */
}
.nav-right {
  width: 45%;
  /* background-color: honeydew; */
  height: 100%;
}
.nav-left ul {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-left ul li {
  height: 100%;
  display: flex;
  padding: 0 15px;
  place-items: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.nav-center img {
  width: 150px;
}

.nav-left ul li:hover {
  background-color: #dbdada;
  cursor: pointer;
}
.nav-right ul {
  display: flex;

  gap: 10px;
  justify-content: end;

  align-items: center;

  height: 100%;
}
.nav-right ul li {
  text-transform: uppercase;
  padding: 0 15px;

  display: flex;
  align-items: center;
  height: 100%;
  font-weight: bold;
}
.nav-right ul li i {
  font-size: 25px;
}
.nav-right ul li:hover {
  background-color: #dbdada;
  cursor: pointer;
}

.btn-search {
  display: flex;

  align-items: center;
  height: 75%;
  width: 300px;

  /* padding-left: 10px; */
  border: 2px solid black;
  border-radius: 5px;
}

.btn-search input {
  width: 75%;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}

.btn-search i {
  width: 25%;
}
.nav-right ul li:hover:first-child {
  background-color: transparent;
}
/* -------------------------------- */

/* hero-ssection  */
.hero-section {
  width: 87%;
  height: 880px;
  margin: auto;
  background-color: white;
}
.img-hero {
  width: 100%;
  height: 100%;
}
.btn-container {
  position: absolute;
  bottom: 10%;

  left: 38%;

  display: flex;
  gap: 10px;
}
.btn-container button {
  padding: 20px 50px;

  text-transform: uppercase;
  font-size: 20px;
  background-color: transparent;
  color: white;

  border: solid 3px white;
  border-radius: 0.3rem;
  font-weight: bold;
  transition: transform 0.5s ease-in-out;
}
.btn-container button:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  cursor: pointer;
}
/*  */

.brand {
  width: 87%;
  margin: auto;

  display: flex;
  justify-content: center;
}
.brand-img {
  height: 100%;
  width: 14.28%;
}
.brand-img img {
  width: 100%;
  height: 100%;
}
.container-life-style {
  width: 87%;
  height: 750px;
  display: flex;
  gap: 1%;

  margin: auto;
}
.container-life-style div {
  margin: auto;
  width: 32.66%;
  height: 100%;
  background-color: red;
}
.container-life-style div img {
  width: 100%;
  height: 100%;
}
.container-life-style2 {
  width: 87%;
  height: 800px;
  display: flex;
  gap: 1%;

  margin: auto;
  padding-top: 1%;
}
.container-life-style2 div {
  margin: auto;
  width: 50%;
  height: 100%;
  background-color: red;
}
.container-life-style2 div img {
  width: 100%;
  height: 100%;
}
/*  */

/* text-card */
.main-card {
  height: 700px;
  width: 87%;

  margin: auto;
  padding-top: 30px;
}
.text-card {
  font-size: 40px;
  font-weight: bold;
  margin: auto;
  width: 87%;

  padding-top: 60px;
}
.main-card {
  display: flex;
  gap: 1%;
}
.card {
  /* background-color: brown; */
  width: 100%;
  height: 100%;
  cursor: pointer;

  position: relative;
}

.card img {
  height: 75%;
  width: 100%;
}
.card-brand {
  position: absolute;
  right: 10px;
  bottom: 120px;
  writing-mode: sideways-rl;
  font-size: 18px;
  transform: rotate(180deg);
}
.title-card-text {
  padding-top: 10px;
  font-size: 22px;

  display: flex;
  padding-left: 20px;
  gap: 20px;
  font-weight: bold;
}
.title-card-text div span:first-child {
  color: red;
}
.title-card-text div span:last-child {
  text-decoration: line-through;
}
.span-text {
  font-size: 22px;
  padding-left: 20px;
  padding-top: 20px;
  font-weight: 500;
}

.discount-card {
  position: absolute;
  width: 80px;
  height: 40px;
  background-color: rgb(213, 7, 7);
  left: 10px;
  top: 10px;

  border-radius: 0.5rem;
  text-align: center;

  padding-top: 5px;
  color: white;
  font-weight: 500;
  font-size: 22px;
}
.section-card .fa-heart {
  font-size: 25px;
  padding-left: 150px;
}
